button, input[type="submit"], .button {
	text-transform: uppercase;
	padding: 0.5em 1em;
	border: solid 1px #070707;
	font-size: 1em;
	&:hover {
		cursor: pointer;
	}
}

.btn-primary {
	background-color: #662b2b;
	color: #e5e5e5;
	&:hover, :active {
		background-color: #fff;
		color: #070707;
	}
}

.btn-secondary {
	background-color: #fff;
	color: #070707;
	&:hover {
	background-color: #662b2b;
	color: #e5e5e5;
	}
}

.social {
	margin-right: 1em;
	padding: 0.5em 1.25em;
}

.resource-comments p:first-of-type {
	margin-top: 1em;
}

